/* TYPEFACES */

@font-face {
  font-family: 'Akkurat';
  src: url('./fonts/akkurat-light.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Akkurat';
  src: url('./fonts/akkurat-regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'AkkuratMono';
  src: url('./fonts/akkurat-mono.otf');
}

h1 {
  font-family: 'AkkuratMono';
  font-size: 9vw;
  font-weight: normal;
  line-height: 21vh;
  width: 92vw;
  color: hsl(0, 0%, 90%);
}

h2 {
  font-family: 'Akkurat';
  font-size: 3rem;
  font-weight: 200;
  line-height: 5rem;
}

h3 {
  font-family: 'Akkurat';
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  line-height: 2.3rem;
  margin: 6rem;
}

h4 {
  font-family: 'AkkuratMono';
  font-size: 0.7rem;
  line-height: 1.2rem;
  transition: 0.2s ease-out;
  opacity: 0;
}

h5 {
  font-family: 'AkkuratMono';
  font-size: 0.8rem;
  line-height: 1rem;
}

h6 {
  font-family: 'Akkurat';
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}

.underlined {
  border-bottom: solid 2px white;
}

.mono {
  font-family: 'AkkuratMono';
  color: yellow;
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  width: 100vw;
  display: flex;
}

.mobilePage {
  display: none;
}

/* LANDING PAGE */

canvas {
  mix-blend-mode: exclusion;
  background-color: transparent;
  position: fixed;
}

.fixedIntro {
  width: 100vw;
  height: 94vh;
  position: fixed;
  padding: 2rem 4rem;
  z-index: -50;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fixedIntro #scroll {
  font-size: 2rem;
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: none;
  font-family: 'Akkurat';
  font-weight: 100;
  align-items: center;
}

section.blended-text {
  color: white;
  background-color: hsl(0, 0%, 8%);
  font-size: 370px;
  line-height: 310px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.emojiContainer {
  width: 27vw;
  height: 27vw;
  margin: 54vh 0 40vh 55vw;
  position: fixed;
  z-index: 0;
  background-color: transparent;
  pointer-events: none;
}

.emoji {
  font-size: 8rem;
  color: #ffda26;
}

@keyframes rotating {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotating {
  transform: rotate(180deg);
  animation: rotating 1.5s infinite;
}

/* NEWS LABEL */

.newsLabel {
  margin: 100vh 0 50vh 0;
  position: sticky;
  top: 0;
  width: calc(100vw - 6rem);
  padding: 3rem;
  justify-content: flex-end;
}

.label {
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.25);
  padding: 1rem;
  animation: news 1s alternate infinite;
  display: flex;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  justify-content: center;
  transform: rotate(10deg);
  flex-direction: column;
  margin-left: 82vw;
}

.label h6 {
  font-size: 1vw;
  line-height: 1.5vw;
}

@keyframes news {
  from {
    background-color: orange;
    color: cyan;
  }
  to {
    background-color: #ea634b;
    color: white;
  }
}

/* SHORT PRESENTATION */

.presentation {
  width: calc(100vw - 16rem);
  background-color: lightgrey;
  color: black;
  padding: 7rem 8rem;
  position: sticky;
  top: 0;
}

/* ILLUSTRATIVE VISUAL */

.visual {
  z-index: 5;
  position: relative;
}

.ambianceVisual {
  width: 100vw;
  height: 80vh;
  background: center / cover no-repeat url(/img/01-trame.svg), black;
  background-attachment: fixed;
}

/* CURRENT ACTIVITY + GITHUB LINK */

.current {
  z-index: 10;
  position: relative;
}

.github {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 35vw;
  padding: 8rem 0;
  font-family: 'AkkuratMono';
  font-size: 2rem;
  color: cornflowerblue;
  transform-origin: center;
}

.github > p {
  border-bottom: solid 2px #e2e2e2;
}

.githubSmiley {
  font-size: 9rem;
  color: yellow;
}

.github:hover > p {
  border-bottom: solid 2px yellow;
}

.currentActivity {
  flex: 1 1 65vw;
  color: #ededed;
  background-color: cornflowerblue;
  padding: 5rem 4rem 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROJECTS SECTION */

.projectsCanvas {
  width: calc(100vw - 6rem);
  height: calc(100vh - 6rem);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.coinTitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrollableArrows {
  margin-left: 29vw;
  margin-right: 4vw;
  margin-top: 1rem;
}

@keyframes arrowMove {
  from {
    margin: 0 20px;
    opacity: 0.5;
  }
  to {
    margin: 0 0;
    opacity: 1;
  }
}

.arrow {
  font-size: 2rem;
  z-index: 35;
  fill: black;
  padding: 1rem;
  cursor: pointer;
  animation: arrowMove 1.5s infinite;
}

.projectsBlock {
  height: 150vh;
  position: sticky;
  top: 0;
  margin: -100vh 0 0 -25vw;
}

.projectsWrapper {
  display: flex;
  width: 125vw;
  overflow-x: scroll;
}

.projectsWrapper::-webkit-scrollbar {
  display: none;
}

.projectPlaceholder {
  background-image: radial-gradient(
    circle,
    #b16fca,
    #a356d4,
    #8d3ce1,
    #6a21ef,
    #0500ff
  );
}

.project {
  cursor: pointer;
  width: 30vw;
  margin: 30vh 10vw 0 10vw;
  flex: 0 0 auto;
}

.project:last-child {
  padding-right: 20vw;
}

.project div {
  width: 30vw;
  height: 40vh;
  margin-bottom: 1rem;
  transition: 0.2s ease-out;
}

.project:hover > div,
.project:hover > h4 {
  transform: translate(-50px, -50px);
  transition: 0.2s ease-in;
  opacity: 1;
}

.project:hover > div {
  box-shadow: 50px 50px 50px 0 rgba(0, 0, 0, 0.25);
}

/* SKILLS */

.skills {
  width: calc(100vw - 10rem);
  background-color: #232323;
  z-index: 0;
  position: sticky;
  top: -10px;
  padding: 5rem;
}

.skillsLeft {
  width: calc((100vw - 10rem) / 2);
  height: 100%;
  padding-right: 4rem;
  border-right: solid 2px white;
}

.skillsRight {
  width: calc((100vw - 10rem) / 2);
  padding-left: 5rem;
}

.skillsTitle {
  color: white;
  margin-bottom: 0.95rem;
}

.skillsText {
  color: #00f6ff;
}

.skillsArrow {
  margin-right: 1rem;
}

/* RECENTLY */

.recently {
  width: 100vw;
  height: 8rem;
  position: sticky;
  background-color: #f2f2f2;
  position: sticky;
  top: -5px;
  padding-top: 5rem;
  z-index: 20;
}

.recently h2 {
  color: orange;
}

.layersContainer {
  flex-direction: column;
  background-color: #f2f2f2;
}

.layer {
  width: calc(100vw - 20rem);
  padding: 3rem 10rem;
  background-color: #f2f2f2;
  box-shadow: 0px 40px 60px 0 rgba(0, 0, 0, 0.2);
  font-family: 'AkkuratMono';
  font-size: 1rem;
  line-height: 1.7rem;
  color: #232323;
}

.layer a {
  color: #232323;
  border-bottom: solid 1.25px #232323;
}

.layer a:hover {
  color: orange;
  border-bottom: solid 1.25px orange;
}

.date {
  margin-bottom: 1rem;
}

.curriculum {
  z-index: 25;
  background-color: #6900bf;
  color: white;
  padding: 4rem 10rem;
}

.curriculum a {
  color: white;
  border-bottom: solid 1.25px white;
}

.curriculum a:hover {
  color: white;
  border-bottom: solid 1.25px white;
}

/* SHORT PRESENTATION */

.contact {
  width: calc(100vw - 16rem);
  height: calc(100vh - 14rem);
  background-color: #232323;
  color: white;
  padding: 7rem 8rem;
  z-index: 40;
  position: sticky;
  top: 50rem;
}

.contact a {
  color: blue;
}

.contact span {
  border-bottom: solid 1px blue;
}

/* MODALE */

.modale {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  background-color: white;
  z-index: 50;
  animation: 0.7s fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.BackButton {
  font-family: 'Akkurat';
  position: fixed;
  font-size: 4rem;
  left: 4rem;
  margin-top: 5rem;
  z-index: 100;
}

.modaleHeader {
  width: calc(100vw - 1.5rem);
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
}

.modaleHeader h6 {
  padding: 0 5rem;
  width: 100%;
}

.modaleIntroImage {
  width: 100vw;
  height: 100vh;
}

.modaleDescription {
  width: calc(100vw - 16rem);
  background-color: #232323;
  color: white;
  padding: 7rem 8rem;
}

.modaleDescription a {
  color: white;
  border-bottom: solid 2px white;
}

.modaleDescription span {
  color: red;
  border-bottom: solid 2px red;
}

.modaleContent {
  width: 100vw;
}

.modaleContent img,
.modaleContent video,
.modaleContent iframe {
  width: 100%;
  margin-bottom: -10px;
}

.modaleContent iframe {
  width: 100%;
  height: 100%;
  z-index: -30;
  /*position: absolute;*/
}
